<h1><%= @billboard.chart %></h1>
<p>What would you like to do?</p><br>
<%= link_to 'View Artist', billboard_artists_path(@billboard) %>
<br />
<%= link_to 'Edit Billboard', edit_billboard_path(@billboard) %>
<br />
<%= link_to 'Delete Billboard', @billboard, method: :delete %>